#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border: 2px rgb(88,248,152) dashed;
}

body{
    background-image: url("./GhostWallpaper.png");
    background-color: black;
}